<section class="botonesclase" >
    <h3>________________________ primer Grado ________________________</h3>
    <div class="example-button-row">
        <button mat-raised-button (click)="tomate()" >Luis</button>&nbsp;
        <button mat-raised-button color="primary">Sergio</button>&nbsp;
        <button mat-raised-button color="accent">Daniel</button>&nbsp;
        <button mat-raised-button color="warn">Kenia</button>&nbsp;
        <button mat-raised-button color= "primary">Melissa</button>&nbsp;
        <a mat-raised-button routerLink=".">lourdes</a> &nbsp;&nbsp;&nbsp;
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"  (click)= "toAlumnos()"><mat-icon>filter_list</mat-icon></button>

    </div>

    <h3>________________________Segundo Grado________________________</h3>
    <div class="example-button-row">
    <button mat-raised-button>Aarón</button>&nbsp;
    <button mat-raised-button color="primary">Dalila</button>&nbsp;
    <button mat-raised-button color="accent">Abel</button>&nbsp;
    <button mat-raised-button color="warn">Mara</button>&nbsp;
    <button mat-raised-button color= "primary">Ismael</button>&nbsp;
    <a mat-raised-button >Noema</a>&nbsp;&nbsp;&nbsp;
    <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" ><mat-icon>filter_list</mat-icon></button>
    </div>

    <h3>________________________Tercer Grado________________________</h3>
    <div class="example-button-row">
    <button mat-raised-button>Sarai</button>&nbsp;
    <button mat-raised-button color="primary">Lucas</button>&nbsp;
    <button mat-raised-button color="accent">Raquel</button>&nbsp;
    <button mat-raised-button color="warn">Pablo</button>&nbsp;
    <button mat-raised-button color= "primary">Ruth</button>&nbsp;     
    <a mat-raised-button routerLink=".">Lía</a>&nbsp;&nbsp;&nbsp;
    <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"><mat-icon>filter_list</mat-icon></button>
    </div>

    <div class="botonhome">
        <button mat-raised-button color="primary" class = "button-container" (click)= "tologin()">Regreso</button>
    </div>

</section>