.demo-table {
    width: 75%;
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }
  
  .tabla{
      margin-left: 20%;
  }

  .mat-column-demo-positionmate {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-namemate {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weightmate {
    font-style: italic;
  }

  .botonhome{
    width: calc(50%-10px);
    margin: 30px;
    margin-left: 20%;
    
}

.button-container{
    color: rgb(255, 255, 255);
    margin: 30px;
    width: 40%;
}