<section class="botonesclase" >
    <h3>----------------------------------------------------   Bienvenidos a Clases   ------------------------------------------------------</h3>
    <div class="example-button-row">
    <button mat-raised-button (click)="toMate()">Matematica </button>&nbsp;
    <button mat-raised-button>Lenguaje</button>&nbsp;
    <button mat-raised-button color="accent">Ciencias Naturales</button>&nbsp;
    <button mat-raised-button color="warn">Socia</button>&nbsp;
    <button mat-raised-button color= "primary">Arte</button>&nbsp;
    <a mat-raised-button routerLink=".">Computacion</a>
    </div>

    <h3>______________________________________________________________________________________</h3>
    <div class="example-button-home">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button mat-raised-button color="primary" (click) = "tologin()" >Salir</button>
    </div>

</section>